.gradle
!gradle/wrapper/gradle-wrapper.jar
node_modules
out
bin
.vscode
log/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/
taxi.log
