<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            .container {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" id="date" placeholder="Result Date..(0519)" aria-label="Result Date..(0519)" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="load_data" type="button">Load Data</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <canvas id="dc_canvas"></canvas>
                    <canvas id="tc_canvas"></canvas>
                </div>
            </div>
        </div>

        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.11.0/umd/popper.min.js" ></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"> </script>
        <script src="https://cdn.bootcss.com/Chart.js/2.7.0/Chart.min.js"></script>
        <script src="../../utils.js"></script>
        <script>
//            var TIMES = ["0", "2", "4", "6", "8", "10", "12", "14", "16", "18", "20", "22"];
            var TIMES = ["0:00", "0:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30",
                "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30",
                "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30", "24:00"   ];
            var dcData = [];
            var tcData = [];
            function initConfig(data, title) {
                return {
                    type: 'line',
                    data: {
                        labels: TIMES,
                        datasets: [{
                            label: "My",
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: data[0],
                            fill: false,
                            lineTension: 0,
                        },
                        {
                            label: "Default",
                            fill: false,
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            data: data[1],
                            lineTension: 0,
                        }]
                    },
                    options: {
                        responsive: true,
                        title:{
                            display:true,
                            text:title
                        },
                        tooltips: {
                            mode: 'index',
                                intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                                intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                                yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Performance'
                                }
                            }]
                        }
                    }
                };
            };
            var clearData = function () {
                tcData = [];
                dcData = [];
                if (window.dc){
                    window.dc.config.data.datasets = [];
                    window.tc.config.data.datasets = [];
                    window.dc.update();
                    window.tc.update();
                }
            }
            var rander = function(date) {
                $.get( "api/result?date="+ date, function(performanceData ) {
                    clearData();
                    performanceData.forEach(function (performance) {
                        dcData.push(performance.distancePerformance);
                        tcData.push(performance.timePerformance)
                    })

                    var distanceChart = document.getElementById("dc_canvas").getContext("2d");
                    window.dc = new Chart(distanceChart, initConfig(dcData , "Distance Performance"));
                    var timeChat = document.getElementById("tc_canvas").getContext("2d");
                    window.tc = new Chart(timeChat, initConfig(tcData, "Time Performance"));
                });
            };



            window.onload = function() {
                rander("0519")
            };

            document.getElementById('load_data').addEventListener('click', function() {
                var date = $('#date').val();
                rander(date);
            });

        </script>
    </body>
</html>